/BodegaBA-CSharp/.vs
BodegaBA-CSharp/.vs/BuenosAires/CopilotIndices/17.13.441.19478/CodeChunks.db
/AppWebBA-Django/apirest/migrations/__pycache__
AppWebBA-Django/AppWebBA/settings.py
AppWebBA-Django/create-bd.bat
AppWebBA-Django/update-db-host.py
BodegaBA-CSharp/.vs/BuenosAires/config/applicationhost.config
/BodegaBA-CSharp/.vs
/BodegaBA-CSharp/.vs
/AppWebBA-Django/apirest/migrations/__pycache__
AppWebBA-Django/AppWebBA/settings.py
