<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="base_datosEntities" connectionString="metadata=res://*/BuenosAiresEDM.csdl|res://*/BuenosAiresEDM.ssdl|res://*/BuenosAiresEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source='NICO\SQLEXPRESS';initial catalog=base_datos;user id=sa;password=123;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWsAutenticacion" />
        <binding name="BasicHttpBinding_IWsAutenticacion1" />
        <binding name="BasicHttpBinding_IWsAutenticacion2" />
        <binding name="BasicHttpBinding_IWsAutenticacion3" />
        <binding name="BasicHttpBinding_IWsAutenticacion4" />
        <binding name="BasicHttpBinding_IWsAutenticacion5" />
        <binding name="BasicHttpBinding_IWsAutenticacion6" />
        <binding name="BasicHttpBinding_IWsAutenticacion7" />
        <binding name="BasicHttpBinding_IWsAutenticacion8" />
        <binding name="BasicHttpBinding_IWsAutenticacion9" />
        <binding name="BasicHttpBinding_IWsAutenticacion10" />
        <binding name="BasicHttpBinding_IWsAutenticacion11" />
        <binding name="BasicHttpBinding_IWsAutenticacion12" />
        <binding name="BasicHttpBinding_IWsAutenticacion13" />
        <binding name="BasicHttpBinding_IWsAutenticacion14" />
        <binding name="BasicHttpBinding_IWsAutenticacion15" />
        <binding name="BasicHttpBinding_IWsAutenticacion16" />
        <binding name="BasicHttpBinding_IWsAutenticacion17" />
        <binding name="BasicHttpBinding_IWsAutenticacion18" />
        <binding name="BasicHttpBinding_IWsProducto" />
        <binding name="BasicHttpBinding_IWsStockProducto" />
        <binding name="BasicHttpBinding_IWsGuiaDespacho" />
        <binding name="BasicHttpBinding_IWsAnwo" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50397/WsAutenticacion.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWsAutenticacion"
        contract="WsAutenticacionReference.IWsAutenticacion" name="BasicHttpBinding_IWsAutenticacion" />
      <endpoint address="http://localhost:50397/WsAutenticacion.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWsAutenticacion1"
        contract="WsAutenticacionReference.IWsAutenticacion" name="BasicHttpBinding_IWsAutenticacion1" />
      <endpoint address="http://localhost:50397/WsAutenticacion.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWsAutenticacion2"
        contract="WsAutenticacionReference.IWsAutenticacion" name="BasicHttpBinding_IWsAutenticacion2" />
      <endpoint address="http://localhost:50397/WsAutenticacion.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWsAutenticacion3"
        contract="WsAutenticacionReference.IWsAutenticacion" name="BasicHttpBinding_IWsAutenticacion3" />
      <endpoint address="http://localhost:50397/WsAutenticacion.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWsAutenticacion4"
        contract="WsAutenticarReference.IWsAutenticacion" name="BasicHttpBinding_IWsAutenticacion4" />
      <endpoint address="http://localhost:50397/WsAutenticacion.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWsAutenticacion5"
        contract="WsAutenticarReference.IWsAutenticacion" name="BasicHttpBinding_IWsAutenticacion5" />
      <endpoint address="http://localhost:50397/WsAutenticacion.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWsAutenticacion6"
        contract="WsAutenticarReference.IWsAutenticacion" name="BasicHttpBinding_IWsAutenticacion6" />
      <endpoint address="http://localhost:50397/WsAutenticacion.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWsAutenticacion7"
        contract="WsAutenticacionReference.IWsAutenticacion" name="BasicHttpBinding_IWsAutenticacion7" />
      <endpoint address="http://localhost:50397/WsAutenticacion.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWsAutenticacion8"
        contract="WsAutenticacionReference.IWsAutenticacion" name="BasicHttpBinding_IWsAutenticacion8" />
      <endpoint address="http://localhost:50397/WsAutenticacion.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWsAutenticacion9"
        contract="WsAutenticarReference.IWsAutenticacion" name="BasicHttpBinding_IWsAutenticacion9" />
      <endpoint address="http://localhost:50397/WsAutenticacion.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWsAutenticacion10"
        contract="WsAutenticacionReference.IWsAutenticacion" name="BasicHttpBinding_IWsAutenticacion10" />
      <endpoint address="http://localhost:50397/WsAutenticacion.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWsAutenticacion11"
        contract="WsAutenticacionReference.IWsAutenticacion" name="BasicHttpBinding_IWsAutenticacion11" />
      <endpoint address="http://localhost:50397/WsAutenticacion.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWsAutenticacion12"
        contract="WsAutenticacionReference.IWsAutenticacion" name="BasicHttpBinding_IWsAutenticacion12" />
      <endpoint address="http://localhost:50397/WsAutenticacion.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWsAutenticacion13"
        contract="WsAutenticacionReference.IWsAutenticacion" name="BasicHttpBinding_IWsAutenticacion13" />
      <endpoint address="http://localhost:50397/WsAutenticacion.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWsAutenticacion14"
        contract="WsAutenticacionReference.IWsAutenticacion" name="BasicHttpBinding_IWsAutenticacion14" />
      <endpoint address="http://localhost:50397/WsAutenticacion.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWsAutenticacion15"
        contract="WsAutenticacionReference.IWsAutenticacion" name="BasicHttpBinding_IWsAutenticacion15" />
      <endpoint address="http://localhost:50397/WsAutenticacion.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWsAutenticacion16"
        contract="WsAutenticacionReference.IWsAutenticacion" name="BasicHttpBinding_IWsAutenticacion16" />
      <endpoint address="http://localhost:50397/WsAutenticacion.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWsAutenticacion17"
        contract="WsAutenticacionReference.IWsAutenticacion" name="BasicHttpBinding_IWsAutenticacion17" />
      <endpoint address="http://localhost:50397/WsAutenticacion.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWsAutenticacion18"
        contract="WsAutenticacionReference.IWsAutenticacion" name="BasicHttpBinding_IWsAutenticacion18" />
      <endpoint address="http://localhost:50397/WsProducto.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IWsProducto" contract="WsProductoReference.IWsProducto"
        name="BasicHttpBinding_IWsProducto" />
      <endpoint address="http://localhost:50397/WsStockProducto.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWsStockProducto"
        contract="WsStockproductoreference.IWsStockProducto" name="BasicHttpBinding_IWsStockProducto" />
      <endpoint address="http://localhost:50397/WsGuiaDespacho.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWsGuiaDespacho"
        contract="WsGuiaDespacho.IWsGuiaDespacho" name="BasicHttpBinding_IWsGuiaDespacho" />
      <endpoint address="http://localhost:50397/WsAnwo.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IWsAnwo" contract="WsAnwoReference.IWsAnwo"
        name="BasicHttpBinding_IWsAnwo" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
<endpoint address="http://localhost:50397/WsAnwo.svc"
          binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IWsAnwo"
          contract="WsAnwoReference.IWsAnwo" />
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  
  <connectionStrings>
    <add name="base_datosEntities" connectionString="metadata=res://*/BuenosAiresEDM.csdl|res://*/BuenosAiresEDM.ssdl|res://*/BuenosAiresEDM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source='NICO\SQLEXPRESS';initial catalog=base_datos;user id=sa;password=123;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWsAutenticacion" />
        <binding name="BasicHttpBinding_IWsAutenticacion1" />
        <!-- ... otros bindings de autenticación ... -->
        <binding name="BasicHttpBinding_IWsProducto" />
        <binding name="BasicHttpBinding_IWsStockProducto" />
        <binding name="BasicHttpBinding_IWsGuiaDespacho" />
        <binding name="BasicHttpBinding_IWsAnwo">
          <security mode="None"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    
    <client>
      <!-- Endpoints de autenticación -->
      <endpoint address="http://localhost:50397/WsAutenticacion.svc"
                binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBinding_IWsAutenticacion"
                contract="WsAutenticacionReference.IWsAutenticacion" 
                name="BasicHttpBinding_IWsAutenticacion" />
      <!-- ... otros endpoints de autenticación ... -->
      
      <!-- Endpoints de productos y stock -->
      <endpoint address="http://localhost:50397/WsProducto.svc" 
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWsProducto" 
                contract="WsProductoReference.IWsProducto"
                name="BasicHttpBinding_IWsProducto" />
      
      <endpoint address="http://localhost:50397/WsStockProducto.svc"
                binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBinding_IWsStockProducto"
                contract="WsStockproductoreference.IWsStockProducto" 
                name="BasicHttpBinding_IWsStockProducto" />
      
      <endpoint address="http://localhost:50397/WsGuiaDespacho.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWsGuiaDespacho"
                contract="WsGuiaDespacho.IWsGuiaDespacho" 
                name="BasicHttpBinding_IWsGuiaDespacho" />
      
      <!-- Endpoints de WsAnwo -->
      <endpoint address="http://localhost:50397/WsAnwo.svc" 
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWsAnwo" 
                contract="WsAnwoReference.IWsAnwo"
                name="BasicHttpBinding_IWsAnwo" />
                
      <!-- Endpoint sin name para instanciación por defecto -->
      <endpoint address="http://localhost:50397/WsAnwo.svc"
                binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWsAnwo"
                contract="WsAnwoReference.IWsAnwo" />
    </client>
  </system.serviceModel>
  
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
<client>
  <!-- ... otros endpoints ... -->
  
  <!-- Endpoint con name -->
  <endpoint address="http://localhost:50397/WsAnwo.svc"
            binding="basicHttpBinding"
            bindingConfiguration="BasicHttpBinding_IWsAnwo"
            contract="WsAnwoReference.IWsAnwo"
            name="BasicHttpBinding_IWsAnwo" />
            
  <!-- Endpoint sin name para instanciación por defecto -->
  <endpoint address="http://localhost:50397/WsAnwo.svc"
            binding="basicHttpBinding"
            bindingConfiguration="BasicHttpBinding_IWsAnwo"
            contract="WsAnwoReference.IWsAnwo" />
</client>
<bindings>
  <basicHttpBinding>
    <!-- ... otros bindings ... -->
    <binding name="BasicHttpBinding_IWsAnwo">
      <security mode="None"/>
    </binding>
  </basicHttpBinding>
</bindings>
  </entityFramework>

</configuration>